In [1]:
import pandas as pd 
from numpy import append
import vectorbt as vbt
import seaborn as sns
sns.set()

In [4]:
def backtest_stock(tickers='BBAS3.SA',benchmark='^BVSP',strategy=''):
    dados = vbt.YFData.download(
        tickers, 
        benchmark=benchmark,
        missing_index='drop',
        start='2000-01-01', 
        interval='1d').get('Close')
    dados = dados/dados.iloc[0]
    return dados

In [10]:
tickers=(['BBAS3.SA','ABEV3.SA','VALE3.SA'])
tickers.append('^BVSP')
print(tickers)

['BBAS3.SA', 'ABEV3.SA', 'VALE3.SA', '^BVSP']

In [5]:

dados = backtest_stock(tickers=['BBAS3.SA','ABEV3.SA','VALE3.SA'])
dados

c:\Users\Samsung\OneDrive - UDESC Universidade do Estado de Santa Catarina\dev\StreamDev\StreamDev\venv\lib\site-packages\dateparser\date_parser.py:35: PytzUsageWarning: The localize method is no longer necessary, as this time zone supports the fold attribute (PEP 495). For more details on migrating to a PEP 495-compliant implementation, see https://pytz-deprecation-shim.readthedocs.io/en/latest/migration.html
  date_obj = stz.localize(date_obj)
c:\Users\Samsung\OneDrive - UDESC Universidade do Estado de Santa Catarina\dev\StreamDev\StreamDev\venv\lib\site-packages\dateparser\date_parser.py:35: PytzUsageWarning: The localize method is no longer necessary, as this time zone supports the fold attribute (PEP 495). For more details on migrating to a PEP 495-compliant implementation, see https://pytz-deprecation-shim.readthedocs.io/en/latest/migration.html
  date_obj = stz.localize(date_obj)
c:\Users\Samsung\OneDrive - UDESC Universidade do Estado de Santa Catarina\dev\StreamDev\StreamDev\venv\lib\site-packages\vectorbt\data\base.py:527: UserWarning: Symbols have mismatching index. Dropping missing data points.
  data = cls.align_index(data, missing=missing_index)

symbol                      BBAS3.SA   ABEV3.SA   VALE3.SA
Date
2000-01-05 00:00:00+00:00   1.000000   1.000000   1.000000
2000-01-06 00:00:00+00:00   1.013942   0.949309   1.000000
2000-01-07 00:00:00+00:00   0.991128   0.949309   1.036586
2000-01-10 00:00:00+00:00   1.045628   0.949309   1.121952
2000-01-11 00:00:00+00:00   1.031686   0.949309   1.124390
...                              ...        ...        ...
2022-06-09 00:00:00+00:00  30.664819  42.316256  48.219501
2022-06-10 00:00:00+00:00  30.149955  42.254074  48.230907
2022-06-13 00:00:00+00:00  29.460566  41.445680  46.702301
2022-06-14 00:00:00+00:00  29.469607  40.886022  46.611044
2022-06-15 00:00:00+00:00  29.935564  40.606197  46.582523

[5549 rows x 3 columns]